{% extends 'base.html.twig' %}

{% block title %}LOGInas{% endblock %}

{% block body %}
    {% if error %}
    <div>{{ error.messagekey|trans(error.messageData, 'securty') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

            <input type="hidden" name="_target_path" value="{{ path('driver_index') }}" />


        <button type="submit">login</button>
    </form>
{% endblock %}
